@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Vo Hoang Dong<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:519h0153@student.tdtu.edu.vn">519h0153@student.tdtu.edu.vn</a>
</address>